<nav class="navbar navbar-expand-sm navbar-custom fixed-top p-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="logo.png" alt="Kancelaria Adwokacka Marzena Litewka-Marzęta" width="140%" height="140%">
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end pe-3" id="navbarsExample03">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#o_mnie">O mnie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#zakres_uslug">Zakres usług</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#kontakt">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

